<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="/img/LogoOutline-Blue.svg" alt="CERN logo" style="width:60px;height:60px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/monitoring">Monitoring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/statistics">Statistics</a>
        </li>
        <% if (roles.includes('admin-role') || roles.includes('tester-role')) { %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/burnin">Burn-in</a>
          </li>
  <!--
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/lotacceptance">Lot Acceptance</a>
          </li>
  -->
          <% } %>
          <% if (roles.includes('admin-role') || roles.includes('cms-role') || roles.includes('atlas-role')) { %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/orders">Orders</a>
            </li>
            <% } %>
            <% if (roles.includes('admin-role')) { %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
              </li>
              <% } %>
      </ul>
      <form class="d-flex" action="/device" method="POST">
        <input class="form-control me-2" id="idDevice" name="idDevice" type="number" step="1" min="1"
          placeholder="Device ID" aria-label="Search">
        <input type="hidden" id="qa" name="qa" value="0" />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>