<form action="/<%= type %> " method="POST">

    <input type="radio" class="btn-check" id="supplies" name="category" autocomplete="off" value="Icc"
        onchange="enableSubmit()" <%- category === 'Icc' ? 'checked' : ''%>>
    <label class="btn btn-outline-secondary btn-sm m-2" for="supplies">Supplies</label>

    <input type="radio" class="btn-check" id="receiver" name="category" autocomplete="off" value="Rx"
        onchange="enableSubmit()" <%- category === 'Rx' ? 'checked' : ''%>>
    <label class="btn btn-outline-secondary btn-sm m-2" for="receiver">Receiver</label>

    <input type="radio" class="btn-check" id="TxLI" name="category" autocomplete="off" value="TxLI"
        onchange="enableSubmit()" <%- category === 'TxLI' ? 'checked' : ''%>>
    <label class="btn btn-outline-secondary btn-sm m-2" for="TxLI">Tx Static</label>

    <input type="radio" class="btn-check" id="TxAmp" name="category" autocomplete="off" value="amplitude"
        onchange="enableSubmit()" <%- category === 'amplitude' ? 'checked' : ''%>>
    <label class="btn btn-outline-secondary btn-sm m-2" for="TxAmp">Tx Amp</label>

    <input type="radio" class="btn-check" id="TxTime" name="category" autocomplete="off" value="time"
        onchange="enableSubmit()" <%- category === 'time' ? 'checked' : ''%>>
    <label class="btn btn-outline-secondary btn-sm m-2" for="TxTime">Tx Time</label>

    <input type="radio" class="btn-check" id="TxJitter" name="category" autocomplete="off" value="jitter"
        onchange="enableSubmit()" <%- category === 'jitter' ? 'checked' : ''%>>
    <label class="btn btn-outline-secondary btn-sm m-2" for="TxJitter">Tx Jitter</label>

    <div class="mt-2">
        <p>
            <a class="link-secondary m-2 fst-italic" data-bs-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Filters
            </a>
        </p>
    </div>

    <div class="col-lg-6 m-2">
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <p>
                    Select range:
                </p>
                <div class="row">
                    <div class="col">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="minID">Min</span>
                            <input id="minIdInput" name="idMin" type="number" class="form-control"
                                placeholder="Device ID" onchange="emptyOtherInputs('id', 1)" value="<%=  idRange.length > 0 ? idRange[0] : '' %>">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="maxID">Max</span>
                            <input id="maxIdInput" name="idMax" type="number" class="form-control"
                                placeholder="Device ID" onchange="emptyOtherInputs('id', 0)" value="<%=  idRange.length > 0 ? idRange[1] : '' %>">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="minDate">Start</span>
                            <input id="minDateInput" name="dateMin" type="date" class="form-control" value="<%=  dateRange.length > 0 ? dateRange[0] : '' %>"
                                onchange="emptyOtherInputs('date', 1)">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="maxDate">End</span>
                            <input id="maxDateInput" name="dateMax" type="date" class="form-control" value="<%=  dateRange.length > 0 ? dateRange[1] : '' %>"
                                onchange="emptyOtherInputs('date', 0)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 col-lg-1 ">
        <button id="submitButton" type="submit" class="btn btn-dark btn-sm col-12 m-2" <%= category === '' ? 'disabled' : ''%>>Submit</button>
    </div>
</form>

<script>

    function enableSubmit() {
        document.getElementById("submitButton").disabled = false;
    }

    function emptyOtherInputs(selectedInput, min) {
        if (selectedInput === 'id') {

            let minInputValue = Math.round(document.getElementById("minIdInput").value);
            let maxInputValue = Math.round(document.getElementById("maxIdInput").value);
            document.getElementById("minIdInput").value = minInputValue;
            document.getElementById("maxIdInput").value = maxInputValue;

            if (min === 1 && maxInputValue < minInputValue) {
                document.getElementById("maxIdInput").value = document.getElementById("minIdInput").value;
            }
            if (min === 0 && minInputValue > maxInputValue) {
                document.getElementById("minIdInput").value = document.getElementById("maxIdInput").value;
            }

            document.getElementById("minDateInput").value = "";
            document.getElementById("maxDateInput").value = "";
        } else {

            let minInputValue = document.getElementById("minDateInput").value;
            let maxInputValue = document.getElementById("maxDateInput").value;
            document.getElementById("minDateInput").value = minInputValue;
            document.getElementById("maxDateInput").value = maxInputValue;

            if (min === 1 && maxInputValue < minInputValue) {
                document.getElementById("maxDateInput").value = document.getElementById("minDateInput").value;
            }
            if (min === 0 && minInputValue > maxInputValue) {
                document.getElementById("minDateInput").value = document.getElementById("maxDateInput").value;
            }

            document.getElementById("minIdInput").value = 0;
            document.getElementById("maxIdInput").value = 0;
        }
    }
</script>