<%- include('includes/head.ejs') %>

    </head>

    <body>

        <%- include('includes/navigation.ejs', roles) %>
            <div class="container-fluid">
                <div class="row mt-4">
                    <h4>Batches with deliveries to users but missing reception date:</h1>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Batch ID</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% for (let id of batch_ids){%>
                            <tr>
                                <th scope="row">
                                    <%= id.batch_id%>
                                </th>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <div class="row mt-4">
                    <h4>ETAs of ordered, but not received batches:</h1>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Batch ID</th>
                            <th scope="col">Ordered</th>
                            <th scope="col">ETA</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let id of ete_batch_ids){%>
                            <tr>
                                <th scope="row">
                                    <%= id.batch_id%>
                                </th>
                                <td>
                                    <%= id.order_date.toLocaleString('en-GB', { year: '2-digit', month: '2-digit', day: '2-digit' }) %>
                                </td>
                                <td>
                                    <%= (id.eta_date !=null) ? id.eta_date.toLocaleString('en-GB', { year: '2-digit', month: '2-digit', day: '2-digit' }) : '' %>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                      </div>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            </div>

            <%- include('includes/end.ejs') %>