<%- include('includes/head.ejs') %>

    </head>

    <body>

        <%- include('includes/navigation.ejs', roles) %>
            <div class="container-fluid">
                
                <div class="row mt-4">
                    <div class="row mt-2">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenuId"
                                data-bs-toggle="dropdown">
                                Select lot
                            </button>
                            <ul class="dropdown-menu">
                                <% for (const lot of lots) { %>
                                    <li><a class="dropdown-item" href="/burnin?idLot=<%= lot.Lot %>">Lot <%=
                                                lot.Lot %> tested on <%= lot.created.toLocaleDateString() %></a></li>
                                    <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <h4>Burn-in: Lot <%= idLot %> started on <%= created %>
                </h4>

                <br>
                <h5>Summary of all Panels</h>
                <div class="col col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-4">
                    <table style="width:100%;table-layout: fixed">
                        <thead>
                            <tr>
                                <th scope="col" style='text-align: center; vertical-align:middle'></th>
                              <th scope="col" style='text-align:center; vertical-align:middle'>K</th>
                              <th scope="col" style='text-align:center; vertical-align:middle'>J</th>
                              <th scope="col" style='text-align:center; vertical-align:middle'>H</th>
                              <th scope="col" style='text-align:center; vertical-align:middle'>G</th>
                              <th scope="col" style='text-align:center; vertical-align:middle'>F</th>
                              <th scope="col" style='text-align:center; vertical-align:middle'>E</th>
                              <th scope="col" style='text-align:center; vertical-align:middle'>D</th>
                              <th scope="col" style='text-align:center; vertical-align:middle'>C</th>
                              <th scope="col" style='text-align:center; vertical-align:middle'>B</th>
                              <th scope="col" style='text-align:center; vertical-align:middle'>A</th>
                            </tr>
                          </thead>
                        <tr style="height:70px">
                            <th scope="row" style='text-align: center; vertical-align:middle'>1</th>
                            <% let rowIndex = 1%>
                            <% for(let i = 0; i < 40; i++) { %>
                            <% let failCount = failsData.sumPostFailStatus[10*Math.floor(i/10)+9-(i-10*Math.floor(i/10))] %>
                            <% let color = '#44ce1b'
                            if(failCount === 1){
                                color = '#bbdb44'
                            } else if (failCount === 2){ 
                                color = '#f7e379'
                            } else if (failCount === 3){ 
                                color = '#f2a134'
                            } else if (failCount > 3){ 
                                color = '#e51f1f'
                            }
                            
                            %>
                            <td bgcolor= '<%= color %>'  style='text-align:center; vertical-align:middle'><%= failCount %></td>
                                <% if(((i+1) % 10) == 0) { %>
                                <% rowIndex++%>
                                </tr><tr style="height:70px">
                                <% if(rowIndex < 5) {%>
                                <th scope="row" style='text-align: center; vertical-align:middle'><%= rowIndex %></th>    
                                <% } %>
                                <% } %>
                            <% } %>
                        </tr>
                    </table>
                </div>

                <div id="panelsDiv" style="display: none;">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-dark btn-sm m-2" onclick="showBoxPlots()"
                                id="showBoxPlotsButton">Show optical power plots
                            </button>
                        </div>
                    </div>
                <div class="row">
                    <h4>Individual Panels</h4>    
                <% for(let panel = 0; panel < failsData.panelIds.length; panel++) { %>
                    <div class="col col-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
                    <table style="width:100%;table-layout: fixed; caption-side: top">
                        <caption><b><%= failsData.panelIds[panel] %></b></caption>
                        <thead>
                        <tr>
                          <th scope="col" style='text-align: center; vertical-align:middle'></th>
                          <th scope="col" style='text-align:center; vertical-align:middle'>K</th>
                          <th scope="col" style='text-align:center; vertical-align:middle'>J</th>
                          <th scope="col" style='text-align:center; vertical-align:middle'>H</th>
                          <th scope="col" style='text-align:center; vertical-align:middle'>G</th>
                          <th scope="col" style='text-align:center; vertical-align:middle'>F</th>
                          <th scope="col" style='text-align:center; vertical-align:middle'>E</th>
                          <th scope="col" style='text-align:center; vertical-align:middle'>D</th>
                          <th scope="col" style='text-align:center; vertical-align:middle'>C</th>
                          <th scope="col" style='text-align:center; vertical-align:middle'>B</th>
                          <th scope="col" style='text-align:center; vertical-align:middle'>A</th>
                        </tr>
                      </thead>
                    <tr style="height:35px">
                        <th scope="row" style='text-align: center; vertical-align:middle'>1</th>
                        <% let rowIndex = 1%>
                        <% for(let i = 0; i < 40; i++) { %>
                        <% let failCount = failsData.allPanelsPostFailStatus[panel][10*Math.floor(i/10)+9-(i-10*Math.floor(i/10))] %>
                        <% let color = '#44ce1b'
                        if(failCount === 1){
                            color = '#e51f1f'
                        } 
                        
                        %>
                        <td bgcolor= '<%= color %>'  style='text-align:center; vertical-align:middle'></td>
                            <% if(((i+1) % 10) == 0) { %>
                            <% rowIndex++%>
                            </tr><tr style="height:35px">
                            <% if(rowIndex < 5) {%>
                            <th scope="row" style='text-align: center; vertical-align:middle'><%= rowIndex %></th>    
                            <% } %>
                            <% } %>
                        <% } %>
                    </tr>
                </table>
            </div>
                <% } %>
            </div>
        </div>
        <div id="boxPlotsDiv" style="display: block;">
            <div class="col">
                <div class="d-flex justify-content-center">
                        
                <button type="button" class="btn btn-outline-dark btn-sm m-2" onclick="showPanels()"
                  id="showPanelsButton">Show individual panels
                </button>
              </div>
              </div>
            <h4>Post/Pre</h4>
                <div class="col col-12">
                    <div id="burninDeltaDiv">
                        <canvas id="burninDeltaPlot" height="80px"></canvas>
                    </div>
                </div>
                <br>

                <h4>Pre-test</h4>
                <p>Normalized using median value of the panel location.</p>
                <div class="col col-12">
                    <div id="burninPreDiv"">
                        <canvas id="burninPrePlot" height="80px"></canvas>
                    </div>
                </div>
                <br>

                <h4>Post-test</h4>
                <p>Normalized using median value of the panel location.</p>
                <div class="col col-12">
                    <div id="burninPostDiv">
                        <canvas id="burninPostPlot" height="80px"></canvas>
                    </div>
                </div>
            </div>
        </div>
            <div hidden id="burninData">
                <%= burninData %>
            </div>

            <%- include('includes/end.ejs') %>

                <!-- Plotting scripts -->
                <script src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot@4.4.0/build/index.umd.min.js"></script>
                <script src="/scripts/plotBurnin.js"></script>
                <script>
                    const burninData = JSON.parse(document.getElementById("burninData").innerHTML);
                    plotBurninPrePost(burninData[0], burninData[3], 'burninDeltaPlot', 0.85, 1.05)
                    plotBurnin(burninData[1], 'burninPrePlot', 0.9, 1.1)
                    plotBurnin(burninData[2], 'burninPostPlot', 0.9, 1.1)

                </script>

                <script>
                    function showBoxPlots() {
                        document.getElementById("boxPlotsDiv").style.display = "block";
                        document.getElementById("panelsDiv").style.display = "none";
                    }
                    function showPanels() {
                        document.getElementById("boxPlotsDiv").style.display = "none";
                        document.getElementById("panelsDiv").style.display = "block";
                    }
                </script>