<%- include('includes/head.ejs') %>

    </head>

    <body>

        <%- include('includes/navigation.ejs', roles) %>
            <div class="container-fluid">
                <div class="row mt-4">
                    <h4>Failures per lot at different stages of burn-in</h1>
                        <p>The bars show the total number of failures at each stage. Data is shown starting from lots
                            where SAP data is available.</p>
                </div>

                <div class="col col-12">
                    <canvas id="statusPlot" height="80px"></canvas>
                </div>

                <div class="row mt-4">
                    <div class="row mt-2">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenuId"
                                data-bs-toggle="dropdown">
                                Select lot
                            </button>
                            <ul class="dropdown-menu">
                                <% for (const lot of lots) { %>
                                    <li><a class="dropdown-item" href="/burninlots?idLot=<%= lot.Lot %>">Lot <%= lot.Lot %>
                                                tested on <%= lot.created.toLocaleDateString() %></a></li>
                                    <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>

            </div>

            <div hidden id="statusData">
                <%= statusData %>
            </div>

            <%- include('includes/end.ejs') %>

                <!-- Plotting scripts -->
                <script src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot@4.4.0/build/index.umd.min.js"></script>
                <script src="/scripts/plotBurnin.js"></script>
                <script>
                    const statusData = JSON.parse(document.getElementById("statusData").innerHTML);
                    plotStatus(statusData, 'statusPlot')
                </script>