<%- include('includes/head.ejs') %>
  </head>

  <body>

    <%- include('includes/navigation.ejs', roles) %>
      <div class="container-fluid">
        <div class="d-flex justify-content-between mt-4">
          <h4>
            <%= qa ? 'Acceptance: ID' + idDevice : 'Production: ID' + idDevice %>
          </h4>
          <% if(acceptanceData) { %>
            <form class="d-flex" action="/device" method="POST">
              <input type="hidden" id="idDevice" name="idDevice" value="<%= idDevice %>" />
              <input type="hidden" id="qa" name="qa" value="<%= qa ? 0 : 1 %>" />
              <button class="btn btn-outline-secondary btn-sm" type="submit">
                <%= qa ? 'Production' : 'Acceptance' %>
              </button>
            </form>
            <% } %>
        </div>
        <% if(noData) {%>
          <div class="row">
            <div class="col col-lg-4">
              <h5>No data found.</h5>
            </div>
          </div>

          <% } else { %>
            <div class="row">
              <div class="col col-12">
                <h5>Measured: <%= functionalData[0].lidata[0].created_at.toLocaleDateString("en-UK") %>
                </h5>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4">
                <div class="d-flex justify-content-center">
                  <h5>LI curves</h5>
                </div>
                <div id="LIplotDiv">
                  <canvas id="LIplot"></canvas>
                </div>
                <div id="LIplotIthDiv" style="display: none;">
                  <canvas id="LIplotIth"></canvas>
                </div>
                <div id="LIplotPoptDiv" style="display: none;">
                  <canvas id="LIplotPopt"></canvas>
                </div>
                <div id="LIplotSettingDiv" style="display: none;">
                  <canvas id="LIplotSetting"></canvas>
                </div>

                <div class="d-flex justify-content-center mt-2">
                  <button type="button" class="btn btn-outline-dark btn-sm m-2" onclick="LIparamView('Full')"
                    id="buttonFull">Full
                  </button>
                  <button type="button" class="btn btn-outline-dark btn-sm m-2" onclick="LIparamView('Ith')"
                    id="buttonIth">Threshold
                  </button>
                  <button type="button" class="btn btn-outline-dark btn-sm m-2" onclick="LIparamView('Popt')"
                    id="buttonPopt">Power</button>
                  <button type="button" class="btn btn-outline-dark btn-sm m-2" onclick="LIparamView('Setting')"
                    id="buttonPopt">Setting</button>
                </div>
              </div>

              <div class="col col-lg-4">
                <div class="d-flex justify-content-center">
                  <h5>BER</h5>
                </div>

                <div id="BERplotDiv">
                  <canvas id="BERplot"></canvas>
                </div>
                <div id="BERplotWattsDiv" style="display: none;">
                  <canvas id="BERplotWatts"></canvas>
                </div>

                <div class="d-flex justify-content-center mt-2">
                  <button type="button" class="btn btn-outline-dark btn-sm m-2" onclick="BERparamView('dBm')"
                    id="buttondBm">dBm
                  </button>
                  <button type="button" class="btn btn-outline-dark btn-sm m-2" onclick="BERparamView('W')"
                    id="buttonW">W
                  </button>
                </div>
              </div>

              <div class="col col-lg-4">
                <div class="row">
                  <div class="d-flex justify-content-center">
                    <h5>RSSI</h5>
                  </div>
                </div>
                <div class="row">
                  <div id="RSSIplotDiv">
                    <canvas id="RSSIplot"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 mb-4">
              <div class="row">
                <div class="d-flex justify-content-center mt-2">
                  <h5>Eye diagrams</h5>
                </div>
              </div>
              <div class="row">
                <div class="d-flex justify-content-center mt-2">
                  <button type="button" class="btn btn-outline-dark btn-sm ms-3" onclick="EYEparamView('plots')"
                    id="buttondBm">Illustrations
                  </button>

                  <button type="button" class="btn btn-outline-dark btn-sm ms-3" onclick="EYEparamView('tables')"
                    id="buttonW">Parameters
                  </button>
                </div>
              </div>
            </div>

            <div id="EYEplotsDiv">
              <div class="row">
                <div class="col col-lg-3" id="EYEplot1Div">
                  <div class="d-flex justify-content-center">
                    <h5>Ch1</h5>
                  </div>
                  <canvas id="EYEplot1"></canvas>
                </div>
                <div class="col col-lg-3" id="EYEplot2Div">
                  <div class="d-flex justify-content-center">
                    <h5>Ch2</h5>
                  </div>
                  <canvas id="EYEplot2"></canvas>
                </div>
                <div class="col col-lg-3" id="EYEplot3Div">
                  <div class="d-flex justify-content-center">
                    <h5>Ch3</h5>
                  </div>
                  <canvas id="EYEplot3"></canvas>
                </div>
                <div class="col col-lg-3" id="EYEplot4Div">
                  <div class="d-flex justify-content-center">
                    <h5>Ch4</h5>
                  </div>
                  <canvas id="EYEplot4"></canvas>
                </div>
              </div>
            </div>
            <div id="EYEtablesDiv" style="display: none;">
              <div class="d-flex justify-content-center m-2">
                <div class="col col-lg-6">

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Ch1</th>
                        <th scope="col">Ch2</th>
                        <th scope="col">Ch3</th>
                        <th scope="col">Ch4</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Average Power [mW]</th>
                        <td>
                          <%= functionalData[0].eyedata[0].averagepower.toFixed(2) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[1].averagepower.toFixed(2) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[2].averagepower.toFixed(2) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[3].averagepower.toFixed(2) %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">OMA [mW]</th>
                        <td>
                          <%= functionalData[0].eyedata[0].omaxp.toFixed(2) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[1].omaxp.toFixed(2) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[2].omaxp.toFixed(2) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[3].omaxp.toFixed(2) %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Eye height [mW]</th>
                        <td>
                          <%= functionalData[0].eyedata[0].eyeheight.toFixed(2) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[1].eyeheight.toFixed(2) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[2].eyeheight.toFixed(2) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[3].eyeheight.toFixed(2) %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Rise time [ps]</th>
                        <td>
                          <%= functionalData[0].eyedata[0].risetime.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[1].risetime.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[2].risetime.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[3].risetime.toFixed(1) %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Fall time [ps]</th>
                        <td>
                          <%= functionalData[0].eyedata[0].falltime.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[1].falltime.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[2].falltime.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[3].falltime.toFixed(1) %>
                        </td>
                      </tr>

                      <tr>
                        <th scope="row">Eye width [ps]</th>
                        <td>
                          <%= functionalData[0].eyedata[0].eyewidth.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[1].eyewidth.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[2].eyewidth.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[3].eyewidth.toFixed(1) %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Jitter PP [ps]</th>
                        <td>
                          <%= functionalData[0].eyedata[0].jitterpp.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[1].jitterpp.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[2].jitterpp.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[3].jitterpp.toFixed(1) %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Jitter RMS [ps]</th>
                        <td>
                          <%= functionalData[0].eyedata[0].jitterrms.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[1].jitterrms.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[2].jitterrms.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[3].jitterrms.toFixed(1) %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Mask margin</th>
                        <td>
                          <%= functionalData[0].eyedata[0].maskmargin.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[1].maskmargin.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[2].maskmargin.toFixed(1) %>
                        </td>
                        <td>
                          <%= functionalData[0].eyedata[3].maskmargin.toFixed(1) %>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

      </div>

      <% } %>

        <div hidden id="data">
          <%= data %>
        </div>

        <!-- Plotting scripts -->
        <script>
          function LIparamView(view) {
            if (view === 'Ith') {
              document.getElementById("LIplotDiv").style.display = "none";
              document.getElementById("LIplotIthDiv").style.display = "block";
              document.getElementById("LIplotPoptDiv").style.display = "none";
              document.getElementById("LIplotSettingDiv").style.display = "none";
            } else if (view === 'Popt') {
              document.getElementById("LIplotDiv").style.display = "none";
              document.getElementById("LIplotIthDiv").style.display = "none";
              document.getElementById("LIplotPoptDiv").style.display = "block";
              document.getElementById("LIplotSettingDiv").style.display = "none";
            } else if (view === 'Setting') {
              document.getElementById("LIplotDiv").style.display = "none";
              document.getElementById("LIplotIthDiv").style.display = "none";
              document.getElementById("LIplotPoptDiv").style.display = "none";
              document.getElementById("LIplotSettingDiv").style.display = "block";
            } else {
              document.getElementById("LIplotDiv").style.display = "block";
              document.getElementById("LIplotIthDiv").style.display = "none";
              document.getElementById("LIplotPoptDiv").style.display = "none";
              document.getElementById("LIplotSettingDiv").style.display = "none";
            }
          }

          function BERparamView(view) {
            if (view === 'dBm') {
              document.getElementById("BERplotDiv").style.display = "block";
              document.getElementById("BERplotWattsDiv").style.display = "none";
            } else {
              document.getElementById("BERplotDiv").style.display = "none";
              document.getElementById("BERplotWattsDiv").style.display = "block";
            }
          }

          function EYEparamView(view) {
            if (view === 'plots') {
              document.getElementById("EYEplotsDiv").style.display = "block";
              document.getElementById("EYEtablesDiv").style.display = "none";
            } else {
              document.getElementById("EYEplotsDiv").style.display = "none";
              document.getElementById("EYEtablesDiv").style.display = "block";
            }
          }

          function doPlots(qa) {
            const dataSet = JSON.parse(document.getElementById("data").innerHTML);

            const lidata = dataSet[qa].lidata;
            const berdata = dataSet[qa].berdata;
            const rssidata = dataSet[qa].rssidata;
            const eyedata = dataSet[qa].eyedata;

            Chart.defaults.font.size = 12;

            if (lidata !== null) {
              plotLI(lidata, 'LIplot');
              plotLI(lidata, 'LIplotIth');
              plotLI(lidata, 'LIplotPopt');
              plotLI(lidata, 'LIplotSetting');
            }

            if (berdata !== null) {
              plotBER(berdata, 'BERplot');
              plotBER(berdata, 'BERplotWatts');
            }
            if (rssidata !== null) {
              plotRSSI(rssidata, 'RSSIplot');
            }
            if (eyedata !== null) {
              plotEYE(eyedata, 'EYEplot1', 1);
              plotEYE(eyedata, 'EYEplot2', 2);
              plotEYE(eyedata, 'EYEplot3', 3);
              plotEYE(eyedata, 'EYEplot4', 4);
            }

          }
        </script>

        <script src="/scripts/plotLI.js"></script>
        <script src="/scripts/plotBER.js"></script>
        <script src="/scripts/plotRSSI.js"></script>
        <script src="/scripts/plotEYE.js"></script>

        <script>doPlots(0)</script>

        <%- include('includes/end.ejs') %>