<%- include('includes/head.ejs') %>

    </head>

    <body>

        <%- include('includes/navigation.ejs', roles) %>
            <div class="container-fluid">
                <div class="row mt-4">
                    <h4>Lot acceptance</h4>
                    <p>
                        Lot acceptance data.
                    </p>
                </div>
                
            </div>


            <%- include('includes/end.ejs') %>