<%- include('includes/head.ejs') %>

    </head>

    <body>

        <%- include('includes/navigation.ejs', roles) %>
            <div class="container-fluid">
                <div class="row mt-4">
                    <h4>Monitoring</h1>
                </div>

                <%- include('includes/parameterSelector.ejs', type = 'monitoring', category, idRange, dateRange ) %>

                <% if(paramNames.length> 0) { %>
                    <div class="row mb-4">
                        <% for(let i=1; i < paramNames.length + 1; i++) { %>
                            <div class="col col-lg-6">
                                <div class="d-flex justify-content-center mt-2">
                                    <h5>
                                        <%= paramNames[i-1] %>
                                    </h5>
                                </div>
                                <div class="d-flex justify-content-center mt-2">
                                    <button type="button" class="btn btn-outline-dark btn-sm ms-3"
                                        onclick="toggleData(1, '<%= `Param${i}plotId` %>')"
                                        id="<%= `buttondParam${i}ID`%>">ID
                                    </button>

                                    <button type="button" class="btn btn-outline-dark btn-sm ms-3"
                                        onclick="toggleData(0, '<%= `Param${i}plotId` %>')"
                                        id="<%= `buttonParam${i}Date`%>">Date
                                    </button>
                                </div>
                                <canvas id="<%= `Param${i}plot`%>"></canvas>

                                <div class="d-flex justify-content-center m-2">
                                    <div class="col col-4">
                                        Averaging: <output id="<%= `Param${i}plotAvgValue`%>">0</output>
                                    </div>
                                    <div class="col col-8">
                                        <input type="range" id="<%= `Param${i}plotAvg`%>"
                                            name="<%= `Param${i}plotAvg`%>" min="0" max="80" step="20" value="0"
                                            style="width: 100%;">
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>

                    <% } %>
            </div>

            <div hidden id="Param1plotData">
                <%= dataParam1 %>
            </div>
            <div hidden id="Param2plotData">
                <%= dataParam2 %>
            </div>
            <div hidden id="ranges">
                <%= ranges %>
            </div>
            <div hidden id="timeSpan">
                <%= timeSpan %>
            </div>


            <!-- Plotting scripts -->
            <script src="/scripts/plotMonitoring.js"></script>

            <script>
                const ranges = JSON.parse(document.getElementById("ranges").innerHTML);
                const timeSpan = parseInt(document.getElementById("timeSpan").innerHTML);

                if (ranges !== 0) {
                    const datasetsParam1 = JSON.parse(document.getElementById("Param1plotData").innerHTML);
                    const chartParam1 = plotMonitoring(datasetsParam1.datasetId, 'Param1plot', 'Param1plotId', ranges.mins[0], ranges.maxs[0], timeSpan);
                    document.getElementById('Param1plotAvg').addEventListener('input', updateMovingAvg);

                    const datasetsParam2 = JSON.parse(document.getElementById("Param2plotData").innerHTML);
                    const chartParam2 = plotMonitoring(datasetsParam2.datasetId, 'Param2plot', 'Param2plotId', ranges.mins[1], ranges.maxs[1], timeSpan);
                    document.getElementById('Param2plotAvg').addEventListener('input', updateMovingAvg);
                }
            </script>

            <%- include('includes/end.ejs') %>