<%- include('includes/head.ejs') %>

    </head>

    <body>

        <%- include('includes/navigation.ejs', roles) %>
            <div class="container-fluid">
                <div class="row mt-4">
                    <div class="row mt-2">
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="userMenuId"
                                data-bs-toggle="dropdown">
                                Select detector
                            </button>
                            <ul class="dropdown-menu">
                                <% for(let i=0; i < users.length; i++ ) { %>
                                    <li><a class="dropdown-item" href="/orders?detector=<%=users[i].detector%>">
                                            <%= users[i].experiment + ' ' + users[i].detector %>
                                        </a></li>
                                    <% } %>
                            </ul>
                        </div>
                    </div>
                    <% if(detector !=null && experiment !=='' ) { %>
                        <div class="row mt-3">
                            <h4>
                                <%= experiment + ' ' + detector %>
                            </h4>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col col-lg-6">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <% for(let i=0; i < numOfProducts; i++){ %>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link <%= (i == 0)? 'active' : '' %>"
                                                id="tab_<%= i %>-tab" data-bs-toggle="tab"
                                                data-bs-target="#tab_<%= i %>" type="button" role="tab">
                                                <%= totalRequests[i].total_length %> cm
                                            </button>
                                        </li>
                                        <% } %>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <% for(let i=0; i < numOfProducts; i++){ %>
                                        <div class="tab-pane fade <%= (i == 0)? 'show active' : '' %>" id="tab_<%= i %>"
                                            role="tabpanel">
                                            <canvas id="ordersPlot<%= i %>"></canvas>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                </div>
                <% } else if (roles.includes('admin-role')){ %>
                    <div class="row mt-3">
                        <h4>
                            Status of all orders
                        </h4>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-6">
                            <canvas id="ordersPlot0"></canvas>
                        </div>
                    </div>
                    <% } %>
                        <% if(requestData.length> 0) { %>



                            <% if(totalRequests.length> 0) { %>
                                <div class="container">
                                    <div class="accordion accordion-flush" id="accordion">


                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col">
                                                            Length
                                                        </div>

                                                        <div class="col">
                                                            Requested
                                                        </div>
                                                        <div class="col">
                                                            Delivered
                                                        </div>
                                                        <div class="col">
                                                            %
                                                        </div>
                                                    </div>
                                                </div>
                                            </button>
                                        </h2>

                                        <% for (let r=0; r < totalRequests.length; r++ ) { %>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading<%= r %>">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapse<%= r %>"
                                                        aria-expanded="true" aria-controls="collapse<%= r %>">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <%= totalRequests[r].total_length %>
                                                                </div>

                                                                <div class="col">
                                                                    <%= totalRequests[r].request_quantity %>
                                                                </div>
                                                                <div class="col">
                                                                    <%= (totalRequests[r].delivery_quantity==null) ? '0'
                                                                        : totalRequests[r].delivery_quantity %>
                                                                </div>
                                                                <div class="col">
                                                                    <%= (totalRequests[r].delivery_quantity==null) ? '0'
                                                                        :
                                                                        Math.round(totalRequests[r].delivery_quantity/totalRequests[r].request_quantity*100)
                                                                        %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </button>

                                                </h2>

                                                <div id="collapse<%= r %>" class="accordion-collapse collapse"
                                                    aria-labelledby="heading<%= r %>" data-bs-parent="#accordion">
                                                    <div class="accordion-body">
                                                        <table class="table" id="ordersTable">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Request</th>
                                                                    <th scope="col">Qty</th>
                                                                    <th scope="col">Delivered</th>
                                                                    <th scope="col">Completed</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% for (let i=0; i < requestData.length; i++ ) { %>
                                                                    <% if
                                                                        (requestData[i].total_length==totalRequests[r].total_length)
                                                                        { %>
                                                                        <tr>
                                                                            <td>
                                                                                <button type="button"
                                                                                    class="btn btn-secondary btn-sm"
                                                                                    data-bs-toggle="modal"
                                                                                    data-bs-target="#requestModal<%= requestData[i].request_id%>">
                                                                                    <%= requestData[i].request_date.toLocaleString('en-GB',
                                                                                        { year: '2-digit' ,
                                                                                        month: '2-digit' ,
                                                                                        day: '2-digit' }) %>
                                                                                </button>
                                                                            </td>
                                                                            <td>
                                                                                <%= requestData[i].quantity %>
                                                                            </td>
                                                                            <td class="delivered"
                                                                                style='background-size: <%= requestData[i].delivered/requestData[i].quantity * 100 %>% 100%'>
                                                                                <%= requestData[i].delivered %>
                                                                            </td>
                                                                            <td>
                                                                                <%= requestData[i].quantity===requestData[i].delivered
                                                                                    ?
                                                                                    requestData[i].deliveries[requestData[i].deliveries.length
                                                                                    -
                                                                                    1].delivery_date.toLocaleString('en-GB',
                                                                                    { year: '2-digit' , month: '2-digit'
                                                                                    , day: '2-digit' }) : '' %>
                                                                            </td>

                                                                        </tr>
                                                                        <% } %>
                                                                            <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>

                                    </div>
                                </div>
                                <%}%>
                                    <% } %>
            </div>

            </div>

            <% if(requestData.length> 0) { %>
                <% for (let i=0; i < requestData.length; i++ ) { %>
                    <div class="modal fade" id="requestModal<%= requestData[i].request_id%>" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="deliveryModalLabel">
                                        <%=requestData[i].experiment + ' ' + requestData[i].detector
                                            +': '+ requestData[i].quantity + ' x ' + requestData[i].total_length + ' cm'
                                            %>
                                    </h4>

                                </div>
                                <div class="modal-body">
                                    <p>
                                        Request ID: <%=requestData[i].request_id %><br>
                                            Requested by:
                                            <%=requestData[i].request_date.toLocaleString('en-GB', { year: '2-digit' ,
                                                month: '2-digit' , day: '2-digit' }) %><br>
                                                Delivery address: <%=requestData[i].delivery_address %><br>
                                                    Budget code: <%=requestData[i].budget_code %>

                                    </p>
                                    <p>
                                    <h5>Production:</h5>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Batch</th>
                                                <th scope="col">Batch qty</th>
                                                <th scope="col">Reception</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let order of requestData[i].orders) { %>
                                                <% if(order.reception_date !=null) { %>
                                                    <tr>
                                                        <td>
                                                            <%= order.batch_id %>
                                                        </td>

                                                        <td>
                                                            <%= order.quantity%>
                                                        </td>
                                                        <td>
                                                            <%= (order.reception_date !=null) ?
                                                                order.reception_date.toLocaleString('en-GB', {
                                                                year: '2-digit' , month: '2-digit' , day: '2-digit' })
                                                                : '' %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } %>
                                        </tbody>
                                    </table>
                                    </p>

                                    <p>
                                        <%if(requestData[i].quantity !=requestData[i].delivered ){%>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Batch</th>
                                                        <th scope="col">Batch qty</th>
                                                        <th scope="col">Estimated</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(let order of requestData[i].orders) { %>
                                                        <% if(order.reception_date==null && order.eta_date !=null ) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= order.batch_id %>
                                                                </td>

                                                                <td>
                                                                    <%= order.quantity%>
                                                                </td>
                                                                <td>
                                                                    <%= (order.eta_date !=null) ?
                                                                        order.eta_date.toLocaleString('en-GB', {
                                                                        year: '2-digit' , month: '2-digit' ,
                                                                        day: '2-digit' }) : '' %>
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                                <% } %>
                                                </tbody>
                                            </table>
                                    </p>
                                    <% } %>

                                        <h5>Deliveries to user:</h5>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Batch</th>
                                                    <th scope="col">Qty</th>
                                                    <th scope="col">Remaining</th>
                                                    <th scope="col">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(let d=0; d < requestData[i].deliveries.length; d++) { %>
                                                    <% if(requestData[i].deliveries[d].delivery_date !=null) { %>
                                                        <tr>

                                                            <td>
                                                                <%= requestData[i].deliveries[d].batch_id %>
                                                            </td>
                                                            <td>
                                                                <b>
                                                                    <%= requestData[i].qtyPerDelivery[d] %>
                                                                </b>
                                                            </td>
                                                            <td>
                                                                <%= requestData[i].qtyToDeliver[d] %>
                                                            </td>
                                                            <td>
                                                                <%= (requestData[i].deliveries[d].delivery_date !=null)
                                                                    ?
                                                                    requestData[i].deliveries[d].delivery_date.toLocaleString('en-GB',
                                                                    { year: '2-digit' , month: '2-digit' ,
                                                                    day: '2-digit' }) : '' %>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% } %>
                                            </tbody>
                                        </table>
                                        </p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% } %>


                            <div hidden id="plotData">
                                <%= plotData %>
                            </div>
                            <%- include('includes/end.ejs') %>


                                <!-- Plotting scripts -->
                                <script src="/scripts/plotOrders.js"></script>
                                <script>
                                    const plotData = JSON.parse(document.getElementById("plotData").innerHTML);

                                    for (let i = 0; i < plotData.plotOrder.length; i++) {
                                        const chartOrders = plotOrders(plotData, 'ordersPlot' + i, i);
                                    }
                                </script>