<%- include('includes/head.ejs') %>

    </head>

    <body>

        <%- include('includes/navigation.ejs', roles) %>
            <div class="container-fluid">
                <div class="row mt-4">
                    <h4>Status</h1>
                </div>
                <div class="col-lg-3 m-2">

                    <div class="row mt-3">
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="minDate">Start</span>
                                <input id="minDateInput" name="dateMin" type="date" class="form-control" value=""
                                    onchange="limitRange(1, 'productionStatusPlotId', 'runningTotalPlotId')">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="maxDate">End</span>
                                <input id="maxDateInput" name="dateMax" type="date" class="form-control" value=""
                                    onchange="limitRange(0, 'productionStatusPlotId', 'runningTotalPlotId')">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col col-lg-6">
                        <div class="d-flex justify-content-center mt-2">
                            <h5 id="productionTitle">
                                Production monthly
                            </h5>
                        </div>

                        <canvas id="productionStatusPlot"></canvas>
                    </div>

                    <div class="col col-lg-6">
                        <div class="d-flex justify-content-center mt-2">
                            <h5>
                                Running total
                            </h5>
                        </div>
                        <canvas id="runningTotalPlot"></canvas>
                    </div>
                </div>
            </div>

            <div hidden id="data">
                <%= dataJSON %>
            </div>

            <!-- Plotting scripts -->
            <script src="/scripts/plotStatus.js"></script>



            <script>
                const datasets = JSON.parse(document.getElementById("data").innerHTML);

                const timeUnit = 'month';
                const pass = groupData(datasets.passfail.pass, timeUnit);
                const fail = groupData(datasets.passfail.fail, timeUnit);

                const chartStatus = plotStatus({ pass, fail, timeUnit }, 'productionStatusPlot', 'productionStatusPlotId');

                const chartRunningTotal = plotRunningTotal(datasets.running, 'runningTotalPlot', 'runningTotalPlotId');

            </script>



            <%- include('includes/end.ejs') %>