<%- include('includes/head.ejs') %>

    </head>

    <body>

        <%- include('includes/navigation.ejs', roles) %>
            <div class="container-fluid">
                <div class="row mt-4">
                    <h4>Statistics</h1>
                </div>

                <%- include('includes/parameterSelector.ejs', type='statistics', category, idRange, dateRange ) %>

                    <% if(paramNames.length> 0) { %>
                        <div class="row mb-4">
                            <% for(let i=1; i < paramNames.length + 1; i++) { %>
                                <div class="col col-lg-6">
                                    <div class="d-flex justify-content-center mt-2">
                                        <h5>
                                            <%= paramNames[i-1] %>
                                        </h5>
                                    </div>
                                    <div class="d-flex justify-content-center mt-2">
                                        <button type="button" class="btn btn-outline-dark btn-sm ms-3"
                                            onclick="toggleData(1, '<%= `Param${i}plotId` %>')"
                                            id="<%= `buttondParam${i}ID`%>">Channel
                                        </button>

                                        <button type="button" class="btn btn-outline-dark btn-sm ms-3"
                                            onclick="toggleData(0, '<%= `Param${i}plotId` %>')"
                                            id="<%= `buttonParam${i}Date`%>">Panel
                                        </button>
                                    </div>
                                    <canvas id="<%= `Param${i}plot`%>"></canvas>

                                    <div class="d-flex justify-content-center m-2">
                                        <div class="col col-6">
                                            <div class="input-group input-group-sm flex-nowrap">
                                                <span class="input-group-text sm"
                                                    id="<%= `Param${i}plotMin`%>Name">Min</span>
                                                <input type="number" id="<%= `Param${i}plotMin`%>"
                                                    name="<%= `Param${i}plotMin`%>Name" class="form-control"
                                                    name="<%= `Param${i}plotMin`%>"
                                                    onchange="limitsChange('<%= `Param${i}plotId` %>')">
                                                <span class="input-group-text"
                                                    id="<%= `Param${i}plotMax`%>Name">Max</span>
                                                <input type="number" id="<%= `Param${i}plotMax`%>"
                                                    name="<%= `Param${i}plotMax`%>Name" class="form-control"
                                                    name="<%= `Param${i}plotMax`%>"
                                                    onchange="limitsChange('<%= `Param${i}plotId` %>')">
                                            </div>
                                        </div>
                                        <div class="col col-4 ms-4 mt-1">
                                            Yield: <output id="<%= `Param${i}plotYieldValue`%>">0</output>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>

                        <% } %>
            </div>

            <div hidden id="Param1plotData">
                <%= dataParam1 %>
            </div>
            <div hidden id="Param2plotData">
                <%= dataParam2 %>
            </div>
            <div hidden id="ranges">
                <%= ranges %>
            </div>



            <!-- Plotting scripts -->
            <script src="/scripts/plotStatistics.js"></script>

            <script>
                function limitsChange(plotId) {
                    let max = document.getElementById(plotId.replace("Id", "Max")).value;
                    let min = document.getElementById(plotId.replace("Id", "Min")).value;

                    drawLimits(plotId, max, min)

                    let minmaxData = JSON.parse(document.getElementById(plotId.replace("Id", "Data")).innerHTML).minmaxData;

                    let minIndex = -1;
                    let maxIndex = -1;
                    for (let i = 0; i < minmaxData.minOrdered.length; i++) {
                        if (minIndex === -1 && minmaxData.minOrdered[i] > min) {
                            minIndex = i;
                        }
                        if (maxIndex === -1 && minmaxData.maxOrdered[i] > max) {
                            maxIndex = i;
                        }
                    }

                    minIndex === -1 || min === '' ? minIndex = 0 : minIndex = minIndex;
                    maxIndex === -1 || max === '' ? maxIndex = minmaxData.maxOrdered.length : maxIndex = maxIndex;

                    let yield = (maxIndex - minIndex) / minmaxData.maxOrdered.length;

                    document.getElementById(plotId.replace("Id", "YieldValue")).value = Math.max(0,Math.round(yield * 100)) + "%";
                }

            </script>

            <script>
                const ranges = JSON.parse(document.getElementById("ranges").innerHTML);

                if (ranges !== 0) {
                    const datasetsParam1 = JSON.parse(document.getElementById("Param1plotData").innerHTML);
                    const chartParam1 = plotMonitoring(datasetsParam1.channelData, 'Param1plot', 'Param1plotId', ranges.rangeMin[0], ranges.rangeMax[0], datasetsParam1.channelNames);

                    const datasetsParam2 = JSON.parse(document.getElementById("Param2plotData").innerHTML);
                    const chartParam2 = plotMonitoring(datasetsParam2.channelData, 'Param2plot', 'Param2plotId', ranges.rangeMin[1], ranges.rangeMax[1], datasetsParam2.channelNames);
                }
            </script>

            <%- include('includes/end.ejs') %>