body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#ordersTable td.delivered {
  background-image: linear-gradient(to left, rgba(0, 150, 0, 0.5) 0%, rgba(0, 150, 0, 0.5) 100%);  /* your gradient */
  
  background-repeat: no-repeat;  /* don't remove */
}